.numsWrapper {
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr 1fr;
}
.digit {
    color: #F2F2F3;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
.text {
    color: #F2F2F3;
}
.ordersWrapper {
    height: 152px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 32px;
    /*align-items: end;*/
    /*justify-items: end;*/
}
.orderDone {
    color: #00CCCC;
}
.orderCooking {
    color: #F2F2F3;
}
