.section {
    margin-left: 40px;
    width: 600px;
    padding-top: 100px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 16px;


}


.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
    margin-top: 40px;
}
.cart {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.wrapper {
    overflow-y: scroll;
    overflow-x: visible;
    //height: calc(100vh - 494px);
    max-height: 464px;
}
.placeholder {
    font-size: 24px;
    color: aquamarine;
}
.placeholderWrapper {
    min-height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}