ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

* {
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;*/
}

.scroll {
  width: 8px;
  height: 80%;
  background: #2F2F37;
  position: absolute;
  right: 0;
  top: 10%;
}
.white {
  color: #F2F2F3;
}
.dark-gray {
  color: #8585AD;
}
.error {
  text-align: center;
  color: brown;
  margin-top: 200px;
  font-size: 60px;
}