.section {
    width: 600px;
    background: #131316;

}

.menu {
    /*height: calc(100vh - 253px);*/
    height: 757px;
    overflow-y: scroll;
    overflow-x: visible;
}
.tab {
    display: flex;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    /*justify-content: space-around;*/
    /*align-items: flex-start;*/
}